*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
    background: url("Soft pink cover photo.jpg") center/cover no-repeat;
}

/* ---------- START SCREEN ---------- */
#start-screen{
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#envelope{
    width: clamp(120px,40vw,200px);
    cursor: pointer;
    animation: pulse .6s infinite;
}

.letter-text{
    font-size: clamp(18px,4vw,24px);
    color: #ff7c92;
}

/* ---------- MAIN SCREEN ---------- */
#main-screen{
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.card{
    width: min(95vw,700px);
    padding: 30px 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: clamp(20px,5vw,32px);
    color: #ff7c92;
    animation: popIn 0.8s ease forwards;
}

.kitty{
    width: clamp(140px,35vw,220px);
    animation: popIn 0.8s ease forwards;
}

.buttons{
    display: flex;
    gap: 30px;
    animation: popIn 0.8s ease forwards;
}

.btn{
    width: 120px;
    cursor: pointer;
    transition: transform .3s;
}

.final-text{
    display: none;
    font-size: clamp(16px,4vw,22px);
    background: rgb(246,147,200);
    padding: 10px 20px;
    border-radius: 12px;
}

/* ---------- HEART RAIN ---------- */
.heart{
    position: absolute;
    top: -40px;
    width: 25px;
    animation: fall linear forwards;
}

@keyframes fall{
    to{
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}

@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.1);}
    100%{transform:scale(1);}
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
